@require './normalize.css/normalize.css'
@require './github-markdown-css/github-markdown.css'
@require './nprogress/nprogress.css'
@require './iconfonts/stylesheets/ionicons'

ion-font()

// :before:

clearfix()
  &:after
    content: ''
    display: table
    clear: both
    zoom: 1

*
  box-sizing: border-box

html, body
  height: 100%

html
  background: $bg
