//
// Markdown body
//

.markdown-body
  margin: 0 auto
  max-width: 768px
  overflow: visible

//
// Markdown overrides
//

.markdown-body
  h1
    font-size: 2.5em
    font-weight: 300
    margin-bottom: .5em
    padding-bottom: .5em
