mixin menu(m, depth)
  li.menu-item(class=('-level-' + depth + (m.sections ? ' -parent' : '')))
    if m.url
      a.link.title(href=(base + m.url) class=((active === m.url ? '-active' : '') + (' link-' + m.slug)))= m.title
    else if m.title
      span.title= m.title
    if m.headings && m.url === active
      ul.headings.heading-list
        - for (var key in m.headings)
          +heading(m.headings[key])
    if m.sections
      ul.submenu
        - for (var key in m.sections)
          +menu(m.sections[key], depth + 1)

mixin heading(h)
  li.heading-item
    a.hlink(href=('#' + h.id) class=('-depth-' + h.depth))
      = h.title

doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href=(base + 'assets/style.css?t=' + (+new Date())))
    title= title
  body.-menu-visible
    .doc-layout
      .toggle.menu-toggle.js-menu-toggle
      .body(class=('page-' + slug))
        .markdown-body
          != contents
      .menu.toc-menu
        +menu(toc, 0)
    script(src=(base + 'assets/script.js?t=' + (+new Date())))
