@import './normalize.css/normalize'
@import './github-markdown-css/github-markdown'
@import './nprogress/nprogress'
@import './iconfonts/stylesheets/ionicons'

@include ion-font

$bg: white
$black: #111
$slate: #678
$accent: #4078C0
$nav-width: 250px

*
  box-sizing: border-box

html, body
  height: 100%

html
  background: $bg

.doc-layout
  width: 100%
  height: 100%

  .body
    padding: 16px

//
// Menu
//

.toc-menu
  $pad: 24px

  &
    position: relative
    padding: ($pad - 4px) 0
    // background: #fdfefe
    box-shadow: inset -1px 0 #f3f3f3
    font-size: 13px
    transition: opacity 1500ms linear

  ul, li
    margin: 0
    padding: 0
    list-style: none

  .title
    display: block
    padding: 7px $pad
    height: 1em
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    box-sizing: content-box

  .-level-1.-parent > .title
    margin-top: 16px
    font-weight: bold
    font-size: 1.1em

  .link
    &, &:visited
      color: $slate
      text-decoration: none
      position: relative

  .link, .hlink
    &
      transition: background-color 200ms linear, color 500ms linear
      box-sizing: content-box

    &:hover
      background-color: rgba($accent, 0.02)
      color: darken($slate, 20%)
      transition: none

    &:active
      background-color: rgba($accent, 0.1)
      color: $black
      transition: none

    &.-active
      border-right: solid 2px $accent

  // First thing
  .-level-1:first-child > .title
    margin-top: 0
    font-size: 1.5em
    font-weight: 300
    margin-bottom: 16px
    color: $black

  .-level-3 .title
    padding-left: $pad + 8px * 1

  .-level-4 .title
    padding-left: $pad + 8px * 2

//
// Headings menu
//

ul.heading-list
  $pad: 24px

  &
    margin-bottom: 16px

  .hlink
    text-decoration: none
    padding: 6px $pad
    display: block
    height: 1em
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

    &, &:visited
      color: $slate

  .hlink:before
    content: ''
    display: inline-block
    vertical-align: middle
    margin-right: 8px
    height: 2px
    width: 12px
    background: $slate
    opacity: 0.3

//
// Hover fade
//

.toc-menu.-faded
  .title:not(.-active)
    opacity: 0.2
    transition: opacity 1500ms linear

  &:hover .title
    opacity: 1
    transition: opacity 200ms linear

//
// Markdown body
//

.markdown-body
  margin: 24px auto
  max-width: 768px
  overflow: visible

//
// Markdown overrides
//

.markdown-body
  h1
    font-size: 2.5em
    border-bottom: 0
    font-weight: 300

//
// Nprogress
//

#nprogress
  .bar
    background: $accent

  .peg
    box-shadow: 0 0 10px $accent, 0 0 5px $accent
    display: block

  .spinner-icon
    border-top-color: $accent
    border-left-color: $accent

//
// Menu toggle
//

.menu-toggle
  $size: 40px

  &
    display: none

  @media (min-width: 769px)
    display: block
    width: $size + 12px
    height: $size + 12px
    line-height: $size

    position: fixed
    padding-left: 12px
    left: 0
    bottom: 0
    color: $black
    border-radius: 3px
    z-index: 10
    cursor: pointer
    background-color: transparent

  &
    // keep the white visible
    transition: width 1ms linear 250ms, background-color 1ms linear 250ms, color 400ms linear

  .-menu-visible &
    width: $nav-width - 1px - 20px
    background-color: $bg
    transition: color 400ms linear

  &:before
    display: inline-block
    @include ion-icon('navicon', 24px)
    text-align: center
    width: $size

  &:hover
    color: $accent
    // transition: width 0 linear 250ms, background-color 0 linear 250ms, color 100ms linear

//
// Search (to do)
//

.toc-menu
  &:before
    +ion-icon('ios-search-strong', 20px)
    display: block
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center

    position: absolute
    right: 24px - 14px
    top: 24px - 8px
    color: $slate
    transition: color 400ms linear
    border-radius: 3px
    z-index: 10
    cursor: pointer

//
// Desktop layout
//

@media (min-width: 960px)
  .doc-layout
    .menu
      width: $nav-width
      position: fixed
      top: 0
      left: 0
      height: 100%
      overflow-y: auto

    .body
      padding-top: 32px
      transition: all 250ms ease-in

    .menu
      display: block
      transform: translate3d(-1 * $nav-width, 0, 0)
      transition: all 250ms ease-in

    .-menu-visible &
      .body
        padding-left: $nav-width

      .menu
        transform: translate3d(0, 0, 0)

        // compensate for toggle button
        &:after
          content: ''
          display: block
          height: 64px
